/*General Styling*/

:root {
  --primary: #007168;
  --secondary: #FCE100;
}

html {
  scroll-behavior: smooth;
}

body {
  scr box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
  font-family: 'Noto Sans', sans-serif;
}

/*Anchor Tag Styling*/

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  /*text-decoration: underline;*/
}

a {
  position: relative;
  display: inline-block;
}

a .slider {
  position: absolute;
  display: block;
  left: 0;
  top: 90%;
  margin: 0 auto;
  height: 2px;
  background-color: black;
  width: 0%;
  transition: width 0.5s ease;
}

li a .slider {
  background-color: white;
}

a:hover .slider {
  width: 100%;
}

/*Button Styling*/

.btn {
  border: 2px solid;
  border-radius: 0;
  padding: .5em 1em;
  font-size: 1em;
}

.btn-solid {
  background: var(--secondary);
  border-color: var(--secondary);
  color: var(--primary);
  transition: 0.5s;
}

.btn-solid:hover {
  background: none;
  border-color: var(--secondary);
  color: var(--secondary);
  transition: 0.5s;
}

/*Navbar Styling*/

nav.navbar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 3em;
  border-bottom: 2px solid white;
  transition: background 0.5s;
}

nav.navbar img {
  width: 50px;
  height: auto;
}

nav.navbar ul.navbar-links {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.scrolled {
  background: var(--primary);
  transition: background 0.5s;
}

nav.sidebar {
  position: fixed;
  top: 0;
  left: -40%;
  z-index: 10;
  width: 40%;
  height: 100%;
  background: var(--primary)
}

nav.sidebar ul {
  position: relative;
  top: calc(15% - 3em);
  height: 70%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}

.close {
  position: absolute;
  right: 2em;
  top: 2em;
  font-size: 1em;
  color: white;
}

.mobile-menu {
  display: none;
}

/*Footer Styling*/

footer {
  box-sizing: border-box;
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-right: 3em;
  border-top: 3px dashed var(--primary);
  background: var(--primary);
  color: white;
}

footer p {
  margin: 0;
  padding: 1em 0;
}

/*Landing Styling*/

#landing {
  /*background: linear-gradient(rgba(0, 113, 104, 0.3), rgba(0, 113, 104, 0.3)), url('../img/bg.jpg');*/
  background: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: 45% 55%;
  color: white;
}

.backgrounds {
  /*position: absolute;
  z-index: -10;*/
  /*width: 100%;
  height: 80vh;*/
  width: 100%;
}

.background, .bg2, .bg3 {
  width: 100vw;
  height: 85vh;
}

.background {
  background: linear-gradient(rgba(0, 113, 104, 0.3), rgba(0, 113, 104, 0.3)), url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg2 {
  background: linear-gradient(rgba(0, 113, 104, 0.3), rgba(0, 113, 104, 0.3)), url('../img/bg2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg3 {
  background: linear-gradient(rgba(0, 113, 104, 0.3), rgba(0, 113, 104, 0.3)), url('../img/bg3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dark-bg {
  background: rgba(0, 113, 104, 0.8);
}

#landing .floating-div {
  box-sizing: border-box;
  position: absolute;
  width: 40%;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  padding: 2em 2em 2em 5.5em;
}

.floating-div h1 {
  margin: 0;
}

.ccm-options {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(4, 130px);
  grid-auto-rows: 130px;
  grid-gap: 2em;
  text-align: center;
  justify-content: center;
  z-index: 1;
}

.ccm-options .option {
  width: 130px;
  box-sizing: border-box;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  transition: transform 0.5s;
}

.ccm-options .option:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
}

.ccm-options .option i {
  font-size: 1.5em;
}

.ccm-options .option p {
  font-size: 12px;
  margin: 0;
}

.ccm-options .option h3 {
  margin-bottom: 0;
}

/*About Us Styling*/

#about-us {
  padding: 5em 15% 2em 15%;
}

#about-us .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 3em;
  grid-row-gap: 1em;
}

#services {
  background: #fef092;
  padding: 2em 15% 2em 15%;
}

#services .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

/*Blog Styling*/

#blog {
  padding: 2em 15%;
}

#blog .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

#blog img {
  width: 100%;
}

.btn-right {
  float: right;
}

.latest-blog, .small-blog {
  background: #F5F5F5;
}

a.latest-blog, a.small-blog {
  transition: 0.3s;
}

a.latest-blog:hover, a.small-blog:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.small-blog {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-gap: 1em;
  align-items: center;
  margin-bottom: 1em;
}

.small-blog img {
  width: auto;
  height: 100%;
}

.news h6, .news h4, .news p {
  margin: 7px;
}

.news {
  height: 7em;
  overflow: hidden;
}

.news p {
  font-size: 0.8em;
}

.news {
  padding: 1em 0.5em;
}

#partners {
  box-sizing: border-box;
}

#partners .carousel {
  width: 100%;
  overflow: hidden;
}

#partners .carousel img {
  height: 250px;
  width: auto;
  padding: 0 2em;
}

#newsletter {
  background: linear-gradient(rgba(0, 113, 104, 0.3), rgba(0, 113, 104, 0.3)), url('../img/bg.jpg');
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  height: 40vh;
  display: grid;
  grid-template-columns: 45% 55%;
  color: white;
}

#newsletter .floating-div {
  box-sizing: border-box;
  position: absolute;
  width: 40%;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  padding: 2em 2em 2em 5.5em;
}

#contact {
  background: #7dc6c2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 2em 15%;
  /*justify-items: center;*/
}

#contact ul {
  list-style: none;
  padding-left: 0;
}

#contact li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 0;
}

#contact li i {
  margin-right: 1em;
  font-size: 1.2em;
}

#contact li a .slider {
  background-color: black;
}

.footer-icon {
  align-self: center;
  justify-self: center;
}

.footer-icon img {
  height: 150px;
  width: auto;
}

@media only screen and (max-width:1024px) {
  nav.navbar ul.navbar-links {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  nav.navbar ul.navbar-links {
    width: 100%;
  }
  #landing {
    grid-template-columns: 35% 65%;
    height: 70vh;
  }
  #landing .floating-div {
    padding: 2em 2em 2em 3.5em;
    width: 60%;
    left: 60%;
  }
  .background, .bg2, .bg3 {
    height: 70vh;
  }
}

@media only screen and (max-width: 425px) {
  nav.navbar {
    width: 100%;
    justify-content: flex-start;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  nav.navbar ul.navbar-links {
    display: none;
  }
  .mobile-menu {
    display: block;
    color: white;
    margin-right: 8em;
  }
  #landing {
    background: linear-gradient(rgba(0, 113, 104, 0.8), rgba(0, 113, 104, 0.8)), url('../img/bg.jpg');
    height: 80vh;
  }
  #landing .floating-div {
    width: 90%;
    left: 50%;
    top: 45%;
    padding: 2em;
    margin: 3em 0 5em 0;
  }
  .background, .bg2, .bg3 {
    height: 80vh;
  }
  .ccm-options {
    grid-template-columns: repeat(2, 120px);
    grid-auto-rows: 120px;
    bottom: -200px;
  }
  .ccm-options .option {
    width: 120px;
  }
  .ccm-options .option i {
    font-size: 1.2em;
  }
  #about-us {
    padding: 13em 10% 2em 10%;
  }
  #services {
    background: #fef092;
    padding: 2em 10%;
  }
  #blog {
    padding: 2em 5%;
  }
  .small-blog {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-gap: 1em;
    align-items: center;
    margin-bottom: 1em;
  }
  #contact {
    padding: 2em 10%;
  }
  .contact-info {
    text-overflow: clip;
  }
  .footer-icon {
    display: none;
  }
}
