/*General Styling*/

:root {
  --primary: #9A1B1B;
  --secondary: #5D5858;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
  font-family: 'Noto Sans', sans-serif;
}

* {
  outline: none;
  box-sizing: border-box;
}

h5 {
  text-transform: uppercase;
  margin: 0;
}

/*Anchor Tag Styling*/

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

a .slider {
  position: absolute;
  display: block;
  left: 0;
  top: 90%;
  margin: 0 auto;
  height: 2px;
  background-color: black;
  width: 0%;
  transition: width 0.5s ease;
}

li a .slider {
  background-color: white;
}

a:hover .slider {
  width: 100%;
}

.alt-colour {
  color: var(--primary);
}

hr.short {
  width: 10%;
  margin: 0;
}

/*Button Styling*/

.btn {
  border: 2px solid;
  border-radius: 50px;
  padding: .5em 1em;
  font-size: 1em;
}

.btn-solid {
  background: none;
  border-color: var(--primary);
  color: var(--primary);
  transition: 0.5s;
}

.btn-white {
  background: none;
  border-color: white;
  color: white;
  transition: 0.5s;
}

.btn-white:hover {
  background: white;
  border-color: white;
  color: var(--primary);
  transition: 0.5s;
}

.btn-solid:hover {
  background: var(--primary);
  border-color: var(--primary);
  color: white;
  transition: 0.5s;
}

/*Navbar Styling*/

nav.navbar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 3em;
  transition: background 0.5s;
}

nav.navbar img {
  width: 50px;
  height: auto;
}

nav.navbar ul.navbar-links {
  list-style: none;
  display: flex;
  width: 57%;
  font-size: 0.9em;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.dropdown-list {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  background: white;
}

.dropdown-list li {
  color: var(--primary);
  border: 1px solid var(--primary);
  width: 100%;
  padding: 0.5em 1em;
}

.scrolled {
  background: var(--primary);
  border-bottom: 2px solid white;
  transition: background 0.5s;
}

nav.sidebar {
  position: fixed;
  top: 0;
  left: -40%;
  z-index: 10;
  width: 40%;
  height: 100%;
  background: var(--primary)
}

nav.sidebar ul {
  position: relative;
  top: calc(15% - 3em);
  height: 70%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}

.close {
  position: absolute;
  right: 2em;
  top: 2em;
  font-size: 1em;
  color: white;
}

.mobile-menu {
  display: none;
}

/*Footer Styling*/

footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  padding-right: 3em;
  background: var(--primary);
  color: white;
}

footer p {
  margin: 0;
  padding: 1em 0;
}

/*Landing Styling*/

#landing {
  /*background: linear-gradient(rgba(0, 113, 104, 0.3), rgba(0, 113, 104, 0.3)), url('../img/bg.jpg');*/
  background: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: 45% 55%;
  color: white;
}

.backgrounds {
  width: 100%;
}

.background, .bg2, .bg3 {
  width: 100vw;
  height: 85vh;
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/bg2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/bg3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dark-bg {
  background: rgba(154, 27, 27, 0.8);
}

#landing .floating-div {
  box-sizing: border-box;
  position: absolute;
  width: 40%;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  padding: 2em 2em 2em 5.5em;
}

.floating-div h1 {
  margin: 0;
}

.button-container {
  position: absolute;
  right: 100px;
  bottom: 50px;
}

.slick-prev, .slick-next {
  margin: 0;
  font-size: 2em;
  width: 25px;
}

.ccm-options {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: 150px;
  grid-gap: 2em;
  justify-content: center;
  z-index: 1;
}

.ccm-options .option {
  width: 200px;
  box-sizing: border-box;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  transition: transform 0.5s;
}

.ccm-options .option:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.ccm-options .option i {
  color: var(--primary);
  font-size: 3em;
  text-align: center;
}

.ccm-options .option a {
  font-weight: 400;
  font-size: 1em;
}

/*About Us Styling*/

#about-us {
  padding: 8em 15% 2em 15%;
}

#about-us .content {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  grid-template-columns: 25% 75%;
  grid-column-gap: 3em;
  grid-row-gap: 1em;
}

#more {
  display: none;
}

.background-color {
  background: var(--primary);
  height: 300px;
  width: 210px;
  position: relative;
}

.background-color img {
  position: absolute;
  right: -20px;
  bottom: -20px;
  height: 300px;
  width: 210px;
}

#services {
  background: #F8F8F8;
  padding: 2em 15% 2em 15%;
}

#services .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.services-offered {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

.service i {
  font-size: 1.5em;
}

.services-offered h5, .services-offered p {
  font-size: 0.8em;
  margin: 0.5em 0;
}

/*Blog Styling*/

#blog {
  padding: 2em 15%;
}

#blog .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: start;
}

#blog img {
  width: 100%;
}

.btn-right {
  float: right;
}

.latest-blog, .small-blog {
  background: #F8F8F8;
}

a.latest-blog, a.small-blog {
  transition: 0.3s;
}

a.latest-blog:hover, a.small-blog:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 5px rgba(150, 150, 150, 0.5);
  transition: 0.3s;
}

.small-blog {
  display: grid;
  grid-template-columns: 45% 55%;
  /*grid-column-gap: 10px;*/
  align-items: center;
  margin-bottom: 1em;
}

.small-blog img {
  width: auto;
  height: 100%;
}

.news h6, .news h4, .news p {
  margin: 7px;
}

.news {
  overflow: hidden;
}

.news p {
  font-size: 0.8em;
}

.news {
  padding: 1em 0.5em;
}

#partners {
  box-sizing: border-box;
  text-align: center;
}

#partners .carousel {
  width: 100%;
  overflow: hidden;
}

#partners .carousel img {
  height: 250px;
  width: auto;
  padding: 0 2em;
}

.dots-container {
  position: relative;
  bottom: 20px;
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

#createAcc {
  background: var(--primary);
  position: relative;
  padding: 2em 15%;
  color: white;
  text-align: center;
}

#createAcc p {
  font-size: 1.8em;
}

#contact {
  background: var(--secondary);
  color: #E6E6E6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2em;
  padding: 2em 15%;
  font-size: 0.8em;
  /*justify-items: center;*/
}

#contact ul {
  list-style: none;
  padding-left: 0;
}

#contact li {
  padding: 0.3em 0;
}

#contact .slider {
  background: #E6E6E6;
}

.footer-contact button {
  font-size: 0.8em;
  background: var(--primary);
  color: white;
}

.footer-contact button:hover {
  font-size: 0.8em;
  background: white;
  color: var(--primary);
}

.footer-contact input, .footer-contact textarea {
  width: 100%;
  background: none;
  border: 1px solid #8F8F8F;
  margin: 0;
  padding: 0.5em;
}

@media only screen and (max-width:1024px) {
  nav.navbar ul.navbar-links {
    width: 70%;
  }
  #about-us .content {
    grid-template-columns: 30% 70%;
  }
}

@media only screen and (max-width: 768px) {
  nav.navbar ul.navbar-links {
    width: 100%;
  }
  #landing {
    grid-template-columns: 35% 65%;
    height: 70vh;
  }
  #landing .floating-div {
    padding: 2em 2em 2em 3.5em;
    width: 60%;
    left: 60%;
  }
  .background, .bg2, .bg3 {
    height: 70vh;
  }
  .ccm-options {
    grid-template-columns: repeat(2, 200px);
    grid-auto-rows: 150px;
    bottom: -150px;
    grid-gap: 1em;
  }
  .ccm-options .option {
    width: 200px;
  }
  .ccm-options .option i {
    font-size: 2.5em;
  }
  #about-us {
    padding-top: 11em;
  }
  .background-color {
    background: var(--primary);
    height: 230px;
    width: 150px;
    position: relative;
  }
  .background-color img {
    position: absolute;
    right: -20px;
    bottom: -20px;
    height: 230px;
    width: 150px;
  }
}

@media only screen and (max-width: 425px) {
  nav.navbar {
    width: 100%;
    justify-content: flex-start;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  nav.navbar ul.navbar-links {
    display: none;
  }
  .mobile-menu {
    display: block;
    color: white;
    margin-right: 8em;
  }
  #landing .floating-div {
    width: 90%;
    left: 50%;
    top: 45%;
    padding: 2em;
    margin: 3em 0 5em 0;
  }
  .background, .bg2, .bg3, .dark-bg {
    height: 70vh;
  }
  .ccm-options {
    grid-template-columns: repeat(2, 150px);
    grid-auto-rows: 130px;
    bottom: -200px;
  }
  .ccm-options .option {
    width: 150px;
  }
  .ccm-options .option i {
    font-size: 1.5em;
  }
  .ccm-options .option a {
    font-size: 0.8em;
  }
  .about-us-img {
    display: none;
  }
  #about-us .content {
    padding: 5em 3% 2em 3%;
    display: block;
  }
  #services {
    padding: 2em 10%;
  }
  #blog {
    padding: 2em 5%;
  }
  .small-blog {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-gap: 1em;
    align-items: center;
    margin-bottom: 1em;
  }
  #contact {
    padding: 2em 10%;
  }
  .contact-info {
    text-overflow: clip;
  }
  .footer-icon {
    display: none;
  }
}
